.main-container {
    height: 80vh;
    display: inline-block;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;

}


.comment-flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-text {
    margin: 12px 0;
    font-size: 1.15rem;
    font-weight: 600;
}

.input-box {
    height: 75px;
    width: 465px;
    background-color: #ffffff;
}

.comment-button {
    height: 40px;
    width: 80px;
    background-color: orange;
    color: white;
    font-size: 1.05rem;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white
}

.comments-section {
    height: 30vh;
    overflow-y: auto;
    box-shadow: 12px 12px 2px 1px #818283;
}

.comment-container {

    height: 75px;
    width: 465px;
    text-align: justify;
    overflow-y: auto;
    color: black;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin: 10px 0;
    word-break: break-all;
}