.foot {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    background-color: gray;
    line-height: 1.6;
    font-family: Menlo, monospace;
    position: fixed;
    bottom: 0;
}