.eachElement {
    margin: 30px;
    max-height: 30vh;
    max-width: 200px !important;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
}

.textColor {
    margin-top: 10px;
    margin-bottom: 10px;
    color: orange;
}

/* .storyCard {
    display: inline-block;
    margin: 5px;
    margin-top: 30px;
    height: 150px;
    width: 60px;
    background-color: white;
    box-shadow: 10%;
    text-align: center;
    padding: 5px;
} */